*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteiner {
    width: $main-width;
    margin: 0 auto;
}

.grey-bg {
    background: $grey;
}

.logo {
    @include font(38px, 600, start);
    color: $text-grey;
    padding: 13px 20px;
    border: 4px solid #706b73;
}

.header {
    a {
        text-decoration: none;
        color: $text-grey;
    }
}

span {
    color: $orange-color-text;
}

.header img {
    width: 35px;
    height: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include padding (85px, 150px)
}

.header-title {
    @include font(50px, 600, center);
    color: $text-grey;
}

.header-text {
    @include font(16px, 400, center);
    color: $text-grey-2;
    @include padding (25px, 100px)
}

.card {
    width: 375px;
    height: 385px;
    border-width: 0px;
    transition: 1s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }
}

input {
    border: none;
    width: 290px;
    display: flex;
    outline: none;
    border-bottom: 1px solid $text-grey-2;
    @include margin (0px, 30px);
}

form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-message {
    color: $text-grey-2;
    margin-left: 25px
}

.card-body .card-title {
    @include font (20px, 400, center);
    @include padding (10px, 30px);
    color: $text-grey-2;
}

.card-body {
    .btn {
        width: 235px;
        height: 55px;
        line-height: 40px;
        background: $orange-color;
        border-radius: 27px;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
}

.card a {
    &.btn::after {
        content: url(../img/Shape-2.png);
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-size: 100%;
        vertical-align: top;
    }
}

// Work Process
.work-proccces {
    @include padding(150px, 0px)
}

.card-second {
    width: 260px;
    height: 260px;
    transition: 0.5s;

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
    }
}

.card-bg-1 {
    background: $blue-color;
}

.card-bg-2 {
    background: $violet;
}

.card-bg-3 {
    background: $lavender;
}

.card-bg-4 {
    background: $pink;
}

.card-text {
    text-align: center;
    color: $white;
}

.card-body .white-text {
    color: $white;
}

.card-second {
    position: relative;

    & .btn {
        position: absolute;
        top: 230px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.center-img {
    display: block;
    margin: 0 auto;
    @include padding(50px, 0px)
}

.cards {
    display: flex;
    justify-content: space-between;
}

// Featured Works
.lightgrey-bg {
    background: $grey-light;
}

.orange-block {
    width: 360px;
    height: 360px;
    margin: 15px;
    background: $orange-color;
    transition: 0.5s;

    &:hover {
        box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }
}

.flex {
    display: flex;

}

// servises
.rect {
    width: 100px;
    height: 90px;
    margin: 5px 0px;
    position: relative;
    background: $grey-light;
    transition: 0.5s;

    &:hover {
        background: white;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }
}

.rect .img-round {
    position: absolute;
    left: 30px;
    top: 25px;
}

.rect .img-2 {
    position: absolute;
    left: 25px;
    top: 10px;
}

.rect .img-3 {
    position: absolute;
    left: 20px;
    top: 20px;
}

.card-body a.content-btn {
    width: 235px;
    height: 55px;
    line-height: 40px;
    border-radius: 27px;
    box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.1);
    background: white;
    color: black;

    &::before {
        content: url(../img/arrow.svg);
        width: 15px;
        height: 15px;
        background-size: 100%;
        margin-right: 15px;
        vertical-align: middle;
    }

    &:hover {
        background: $orange-color ;
        color: $white ;

        &::before {
            content: url(../img/arrow.svg);
            filter: invert(1);
        }
    }
}

.card-body a.margin-left {
    margin-left: unset;

}

.servises-content-flex {
    display: flex;
    justify-content: space-between;
}

.text-content .servises-text-head {
    margin-bottom: 0;
}

.servises-text {
    @include margin (5px, 30px)
}

.servises-text-2 {
    @include margin (0px, 40px)
}

.icons {
    @include padding (0px, 180px)
}

// Team
.team {
    width: 360px;
    height: 445px;
    background: $orange-color;
    position: relative;
    transition: 1s;

    &-name {
        width: 260px;
        height: 95px;
        background: white;
        position: absolute;
        top: 95%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.1);
    }

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }

    & .skils {
        width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & img {
            @include margin (10px, 10px)
        }
    }

    & .team-name-2 {
        position: absolute;
        top: 70%;
        @include absolut-center
    }

    & .social-network {
        position: absolute;
        top: 90%;
        @include absolut-center;

        & a {
            &:hover {
                filter: invert(1);
            }
        }

        & a:nth-child(3) {
            margin: 0px 10px;
        }
    }
}

.team-text-head {
    text-align: center;
    color: $text-grey;
    font-size: 30px;
    vertical-align: middle;
    @include margin (15px, 10px)
}

.team-text {
    text-align: center;
    font-size: 16px;
    color: $text-grey-2;
}

.pink {
    background: $light-pink;
}

// Client
.review-block {
    width: 535px;
    height: 270px;
    border: 1px solid #808080;
    position: relative;
    @include margin (60px, 0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    transition: 0.5s;

    &:hover {
        border: transparent;
        box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.1);
    }

    & .round {
        position: absolute;
        background: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #808080;
        bottom: 220px;
        @include absolut-center
    }

    & .quote-center {
        text-align: center;
        color: $text-grey;
    }

    & .quote-main {
        margin-top: 50px;
    }

    & .quote-img-center {
        margin-bottom: 20px;
    }

    & span.font-weight {
        color: $text-grey;
        font-weight: 600;
    }
}

.review {
    width: 1170px;
    height: 400px;
}

.text-review {
    padding-bottom: 50px;
}

.carousel-dark .carousel-indicators button.active {
    background-color: orange;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    width: 18px;
    height: 6px;
    background-color: $grey-btn;
    opacity: 1;
}

.carousel-control-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    &:hover {
        background: $orange-color;
        & .bi-chevron-left {
            color: white !important;
            z-index: 100;
        }
    }
}

.carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    & .bi-chevron-right{
        margin-left: 3px;
    }
    &:hover {
        background: $orange-color;
        & .bi-chevron-right {
            color: white !important;
            z-index: 100;
        }
    }
}

.padding-bottom{
    @include padding(0px, 140px)
}
// logo
.light-grey-bg-2{
    background: $grey-light;
}
.logo-list{
    display: flex;
    justify-content: space-between;
    @include padding(80px, 90px);
}
// footer
.btn-footer{
    @include padding (45px, 50px);
    & a.content-btn{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    &::before {
        content: none;
    }
    &:hover { 
        &::before {
            content: none;
        }
    }
    }
}
.socials-items{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $grey-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    transition: 0.2s;
    &:hover{
        background: $orange-color;
    }
}
.flex-footer{
    display: flex;
    justify-content: center;
}
.socials{
    justify-content: center;
    align-items: center;
    @include padding (0px, 50px);
    & .margin-footer{
        margin-bottom: 0px;
        margin-left: 20px;
    }
}