@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
*, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
}

.grey-bg {
  background: #f7f7f7;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  text-align: start;
  line-height: 24px;
  color: #494949;
  padding: 13px 20px;
  border: 4px solid #706b73;
}

.header a {
  text-decoration: none;
  color: #494949;
}

span {
  color: #fc6f4e;
}

.header img {
  width: 35px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 150px;
}

.header-title {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  color: #494949;
}

.header-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: #808080;
  padding-top: 25px;
  padding-bottom: 100px;
}

.card {
  width: 375px;
  height: 385px;
  border-width: 0px;
  transition: 1s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

input {
  border: none;
  width: 290px;
  display: flex;
  outline: none;
  border-bottom: 1px solid #808080;
  margin-top: 0px;
  margin-bottom: 30px;
}

form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-message {
  color: #808080;
  margin-left: 25px;
}

.card-body .card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #808080;
}

.card-body .btn {
  width: 235px;
  height: 55px;
  line-height: 40px;
  background: #ff5c36;
  border-radius: 27px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.card a.btn::after {
  content: url(../img/Shape-2.png);
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-size: 100%;
  vertical-align: top;
}

.work-proccces {
  padding-top: 150px;
  padding-bottom: 0px;
}

.card-second {
  width: 260px;
  height: 260px;
  transition: 0.5s;
}
.card-second:hover {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card-bg-1 {
  background: #4eb2f7;
}

.card-bg-2 {
  background: #c049f8;
}

.card-bg-3 {
  background: #817eff;
}

.card-bg-4 {
  background: #f74770;
}

.card-text {
  text-align: center;
  color: white;
}

.card-body .white-text {
  color: white;
}

.card-second a.second {
  background: white;
  color: black;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.1);
}
.card-second a.second::before {
  content: url(../img/arrow.svg);
  width: 15px;
  height: 15px;
  background-size: 100%;
  margin-right: 15px;
  vertical-align: middle;
}
.card-second a.second:hover {
  background: #ff5c36;
  color: white;
}
.card-second a.second:hover::before {
  content: url(../img/arrow.svg);
  filter: invert(1);
}

.card-second {
  position: relative;
}
.card-second .btn {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  margin: auto;
}

.center-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 0px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 180px;
}/*# sourceMappingURL=index.css.map */